a.generales {
    padding: 5px 14px;
    border-radius: 5px;
    color: whitesmoke;
    margin-right: 10px;
    background-color: var(--celeste);
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

a.generales:hover {
    background-color: var(--fondo-Cabecera);
}